
header.app-bar button[type="button"] {
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.app-name {
    font-size: 4em;
    font-weight: 200;
    text-align: center;
}


