button {
    cursor: pointer;
}

.tf-tree .tf-nc, .tf-tree .tf-node-content {
    box-shadow: inset 0px 0px 0px 3px rgb(25, 118, 210);
    border: none
}


.app-container {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.main-sequence-editor {
    width: 70%;
    margin: auto;
}


.node-corner {
    position: absolute;
    right: -1px;
    top: 1px;
}

.overhang-representation {
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    font-family: monospace;
    font-size: small;
}

.overhang-representation div {

    text-align: left;
    /* Prevent the removal of spaces that make sequences align correctly */
    white-space: pre-wrap;
}

.tooltip-text {
    font-size: medium;
}

div.hang-from-node {
    box-sizing: content-box;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 40px);
    border: 3px solid;
    border-color: rgb(25, 118, 210);
    border-radius: 100%;
}

/* To center the icon vertically */
div.hang-from-node div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.hang-from-node::before {
    position: absolute;
    border: 1px solid;
    width: 0;
    height: 30px;
    display: block;
    content: '';
    top: -3%;
    left: 50%;
    margin-left: -1px;
    transform: translate(0, -100%);
}


/* TODO: handle these */
div.tf-tree.tf-ancestor-tree {
    overflow-x: scroll;
    /* overflow: unset; */
    padding-bottom: 150px;
    height: fit-content;
}


.description-section {
    margin: auto;
    margin-bottom: 2em;
}

.description-section div.description-box {
    white-space: pre-wrap;
    max-width: 600px;
    margin: auto;
    padding: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: inset 0px 0px 0px 3px gray;
    border-color: gray;
    border-radius: 20px;
    position: relative;
}

div.description-box p {
    font-family: sans-serif;
    font-size: large;
    text-align: justify;
    margin-bottom: 0;
}

.description-section button.icon-corner {
    right: 6px;
    top: 6px;
}

.description-box h1 {
    margin-top: 0px;
    font-size: x-large;
    font-weight: bold;
}

div.corner-id {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: sans-serif;
    font-size: large;
    color: rgb(25, 118, 210);
    font-weight: bold;
}

button.github-icon svg {
    padding: 0;
    color: white;
    font-size: 30px;
}

div.collapsed div {
    margin: auto
}

div.collapsed button {
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Prevents scollbar from showing on small editors,
   that was caused by overflowing numbers at the edges
   of the x axis */
span.node-text svg.veAxis {
    width: 100%;
}

span.node-text > div:first-child {
    margin: 20px
}

/* Cannot overwrite styles that are hard-coded, but we may want this */
/* span.node-text div.tg-simple-dna-view {
    overflow: visible;

} */

body {
    margin: 0px;
    padding: 0px;
}

div.select-source div.MuiFormControl-root {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.select-source h2 {
    margin-bottom: 5px;
    font-size: x-large;
}


div.select-source {
    width: 275px;
}

.fragment-picker {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

div.description-container {
    margin: auto;
    margin-bottom: 2em;
    max-width: 600px;
}

code {
    background-color: lightgrey;
    padding: 15px;
    border-radius: 5px;
    min-width: 40%;
    box-shadow: inset 0px 0px 0px 3px gray;
    
}