.select-source {
  margin: 10px auto;
  width: 400px;
}

.tf-tree,
.tf-ancestor-tree {
  margin: 10px auto;
  width: 600px;
  margin-bottom: 2em;
}

.tf-tree .tf-nc,
.tf-tree .tf-node-content {
  border-color: #106aa2;
}
