.import-primers-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.button-container {
  display: flex;
  align-items: center;
}

.help-icon {
  margin-left: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.hidden-input {
  display: none;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 24;
  padding: 32px;
  border-radius: 16px;
  max-height: 80vh;
  overflow: auto;
}

.modal-title {
  margin-bottom: 16px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.primers-table {
  width: 100%;
  margin-bottom: 24px;
}

.sequence-cell {
  font-family: monospace;
}

.status-invalid {
  color: #d32f2f;
}

.status-valid {
  color: #2e7d32;
}

.status-existing {
  color: #ed6c02;
} 